.header {
  display: flex;
  padding: 1em;
  h1 {
    margin: 0 1em;
  }
}
.user-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .user-list {
    display: flex;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    padding: 1em;

    ul {
      padding: 0;
      margin: 0;
      li {
        padding: 1em;
        margin: 1em;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
          0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        min-width: 200px;
        list-style-type: none;
      }
    }
  }
}
